body {
    background-color: #000;
    font-family: var(--font-dm-sans);
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 12px;
    width: 300px;
}

.sidebar_navigation {
    background-color: #121212;
    border-radius: 8px;
    padding: 15px 0 0 16px;
}

.logo {
    background: #121212;
    display: flex;
    padding: 16px 0 0 16px;
}

.sidebar_navigation .logo img {
    width: 80px;
}

.sidebar nav ul {
    margin-top: 20px;
    padding:0 20px 10px 20px;
}

.sidebar ul li {
    padding: 10px 0;
}

.sidebar nav ul li a {
    color: #b3b3b3;
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}

.library {
    background-color: #121212;
    padding: 4px 8px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin-top: 10px;
}

.library .library_content {
    display: flex;
    justify-content: space-between;
}

.library .library_button {
    display: flex;
    margin-right: 10px;
    background-color: transparent;
    border: 0px;
    color: #b3b3b3;
    padding: 20px 10px; 
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
    text-transform: none;
}

.library .library_button .fa {
    font-size: 20px;
    margin-right: 10px;
    font-weight: 300;
    padding-right: 8px;
}

.library .library_content .fa-plus {
    margin: 24px 10px;
}

.playlists {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    background-color: #242424;
    color: #b3b3b3;
    font-weight: 600;
    font-size: 14px;
    margin: 8px 0px;
    padding: 16px 20px;
    border-radius: 10px;
}

.playlists .playlists_content {
    display: flex;
    flex-direction: column;
}

.playlists_content .text {
    padding-bottom: 14px;
    color: #fff;
}

.playlists_content .title {
    font-weight: 700;
}

.playlists_content .subtitle {
    font-weight: 500;
    font-size: 12px;
}

.playlists_content .playlists_button {
    display: flex;
    justify-content: center;
    background-color: #fff;
    color: #000;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    padding: 10px;
    margin-top: 12px;
    border: 0px;
    width: 113px;
}

.sidebar .cookies {
    margin: 25px 20px;
}

.sidebar .cookies a {
    color: #b3b3b3;
    font-weight: 500;
    font-size: 10px;
    text-decoration: none;
}

.sidebar .cookies a:hover {
    text-decoration: underline;
}

.languages .languages_button {
    align-items: center;
    background-color: transparent;
    border: 1px solid #878787;
    color: #fff;
    font-weight: bold;
    width: 170px;
    margin: 8px;
    padding: 8px;
    border-radius: 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(90deg, #af2896, #509bf5);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%; 
    padding: 10px 24px 7px 15px;
}

.footer .footer_content {
    display: flex;
    flex-direction: column;
    min-width: 620px;
    height: 60px;
    margin-top: 15px;
}

.footer_content .text {
    margin: 0 0 4px;
    color: #fff;
}

.footer_content .footer_title {
    font-size: 0.875rem;
    font-weight: 700;
}

.footer_content .footer_subtitle {
    font-weight: 400;
    font-size: 1rem;
}

.footer .footer_button {
    display: flex;
    align-items: center;
    background-color: #fff;
    color: #000;
    border-radius: 40px;
    border: 0px;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    text-transform: none;
    margin: 10px 50px;
    padding: 14px 35px;
    border: 0px;
    height: 50px;
}